{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<body>
    <header>
        <!--makes navigation bar at the top with a home page that will take you to list.html
        the 'home' is from urls.py-->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        Hello, {{ user.username }}
                    </li>
                    <li>
                        <a href="{% url 'home' %}" id = "text-is-white" >Home</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}" id = "text-is-white">My Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}" id = "text-is-white">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}" id = "text-is-white">Expense Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}" id = "text-is-white">Create Category</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" id = "text-is-white">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}" id = "text-is-white">Sign up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" id = "text-is-white">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {%block content %}{% endblock content %}
    <footer>
        Seemless accounting by Quikr Books Pro
    </footer>
</body>

</html>
