{% extends 'base.html' %}


{% block title%}Accounts - Quickr Books Pro{% endblock title %}


{% block content %}
  <main>
    <h1>My Accounts</h1>
    <table>
        <thead>
        <!-- establishes 3 columns in the table header -->
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
        <!-- for each item in the receipt_list make a row with its proper values
        receipts_list refers to the context from the receipt_list function in views
        this is essentially for each item(row) in the Receipt model(table) we want to print the value in each cell (each column/row intersection)-->
            {% for list in lists%}
            <!-- for each input value from the model-->
                <tr>
                    <td>
                        {{list.name}}
                    </td>
                    <td>
                        {{list.number}}
                    </td>
                    <td>
                        {{list.lists.all|length}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


  </main>
{% endblock content %}
