{% extends 'base.html' %}


{% block title%}Categories - Quickr Books Pro{% endblock title %}


{% block content %}
  <main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td>
                    {{list.name}}
                </td>
                <td>
                    {{lists.list.all|length}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </main>
{% endblock content %}
