{% extends 'base.html' %}

{% block title%}Receipts - Quickr Books Pro{% endblock title %}

{% block content %}
  <main>
    <h1>My Receipts</h1>
    <table>
        <thead>
        <!-- establishes 6 columns in the table header -->
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
        <!-- for each item in the receipt_list make a row with its proper values
        receipts_list refers to the context from the receipt_list function in views
        this is essentially for each item(row) in the Receipt model(table) we want to print the value in each cell (each column/row intersection)-->
            {% for list in lists%}
            <!-- for each input value from the model-->
                <tr>
                    <td>
                        {{list.vendor}}
                    </td>
                    <td>
                        {{list.total}}
                    </td>
                    <td>
                        {{list.tax}}
                    </td>
                    <!--formats date into single digit month/ single digit day/double
                    digit year - more documentation:
                    https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#date -->
                    <td>
                        {{list.date|date:"m/d/y"}}
                    </td>
                    <!-- because category and account are model classes that are linked
                    using foreignkeys we want to add .name to call the name field in their
                    respective model classes -->
                    <td>
                        {{list.category.name}}
                    </td>
                    <td>
                        {{list.account.name}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  </main>
{% endblock content %}
