{% extends "base.html" %}

{% block title%} Create Category - Quickr Books Pro {%endblock title%}

{%block content%}
    <main>
        <div>
            <h1>Create Category</h1>
            <!-- The form tag will make an HTTP POST (because of method="post") back to the same URL-->
            <!-- html element <form> is a template that we will create "post" in
            for read we use get
            for create we use post
            for update we use put
            for delete we use delete-->
            <form method="post">
                <!--The csrf_token creates a hidden input tag that contains a security token.
                csrf token makes sure we get info from the proper source
                in this case it is the local host-->
                {% csrf_token %}
                <!--The form.as_p creates all of the HTML for the fields that we defined on the RecipeForm-->
                {{ form.as_p }}
                <!--make button to click to create-->
                <button>Create</button>
            </form>
        </div>
    </main>
{%endblock content%}
